*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
  font-family: "Raleway-ExtraBold";
  src: url("./fonts/Raleway-ExtraBold.woff") format("woff");
  src: url("./fonts/Raleway-ExtraBold.woff2") format("woff2");



 
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("./fonts/Raleway-Regular.woff") format("woff");
  src: url("./fonts/Raleway-Regular.woff2") format("woff2");

 
}
html {
    height: 100%;
}

body {
display: flex;
justify-content: center;
align-items: center;
line-height: 140px;
font-size: 67px;
position: relative;
height: 100%;
min-width: 800px;
margin: 0;
padding: 0;
    
   
}

.title {
position: static;
text-align: center;
width: 50vw;
height: 50vh;
font-family: "Raleway-ExtraBold";
z-index: 2;
font-weight: 800;
color: #000000;
margin-bottom: 300px;
padding-right: 20px;
width: 760px;
}
.title::after{
  
  content: "*";
 color: #000000;
  z-index: 2;

 
  
 
 
}

.title:hover {
color: #4C4C4C;
z-index: 2;


}

  .title:hover::after{
    content: "*";
    color: #4C4C4C;
    z-index: 2;  
   
  }

.title:hover::before {
  position: absolute;
  z-index: 3;
  content:  "На самом деле нет. \A Важнее &mdash; научиться ошибаться.";
  white-space: pre;
  text-align: left;
  line-height: 35px;
  font-size: 35px;
  font-weight: 400;
  box-shadow: 0px 10px 0px  #000000;
  width: 746px;
  transform: translate(35%, 90%);
  background-color: white;
  border: 3px solid #000000;
  border-radius: 20px;
  padding: 30px;
  color: #000000;
  font-family: "Raleway-Regular";
 

}


.title:hover + .videoo{
  opacity: 0.8;
  
}



video {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  object-position: center;
 
	
}

